/*  your css code here. If applicable */
.progress-bar {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 20px auto;
}
.circle{
	width:20px;
	height:20px;
	border-radius:50%;
	border: 2px solid #000;
}
.circle.active{
	background-color:#ff9800;
.active {
  background-color: #000;
}

.buttons {
  margin-top: 20px;
}

}
button{
	margin-top:10px;
}



